body {
  background-image: url('./imagens/NLW-Fundo.png');
  background-size: cover;
  background-attachment: fixed;
}

.tudo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
  padding: 1rem;
  font-family: Inter, sans-serif;
  z-index: 0;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  color: white;
  text-align: center;
  margin: 3rem;
}

.nlw-gradient {
  background: linear-gradient(to right, #9572fc, #43e7ad 35%, #e1d55d);
}

span.nlw-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*.jogos {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}*/

.jogos {
  width: 100%;
  max-width: 55rem;
  /*max-height: 20rem;*/
  /*height: 17.5rem;*/
  /*padding: 0 1rem 0.5rem;*/
  padding: 0.5rem 0;
  display: flex;
  gap: 1rem;
  overflow: auto;
}
@media only screen and (max-width: 600px) {
  .jogos {
    flex-direction: column;
    align-items: center;
    /*height: 16rem;*/
    max-height: 90vh;
  }
}

.cartaoJogo {
  position: relative;
  height: 10rem;
  width: 10rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.imagemDoJogo {
  height: 10rem;
  width: 10rem;
  border-radius: 0.5em;
  object-fit: cover;
  object-position: center;
}

.ponteiro {
  cursor: pointer;
}

.carregando {
  height: 1.5rem;
  width: 1.5rem;
  justify-self: center;
}

.game-desc-gradient {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9) 67%);
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0.5rem;
  box-sizing: border-box;
}

strong {
  color: white;
  font-weight: bold;
}

p {
  color: #d4d4d8;
  margin: 0;
  font-size: 87.5%;
}

.caixaAtras {
  margin: 1rem;
  border-radius: 0.5rem;
}

.caixaFrente {
  position: relative;
  top: 0.25rem;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  background-color: #2a2634;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  gap: 1em;
}
@media only screen and (max-width: 600px) {
  .caixaFrente {
    flex-direction: column;
    text-align: center;
  }
}

.caixaFrente div {
  display: grid;
}

.botao-publicar {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  font-size: 1.5rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  flex-shrink: 0;
}

img.lupa {
  width: 2rem;
}

.flex {
	display: flex;
	gap: 0.5rem;
}

.flexColumn {
  flex-direction: column;
}

.alignCenter {
  align-items: center;
}

/*.centralizado {
  display: grid;
  place-items: center center;
}*/

.roxinho { 
  background-color: #8b5cf6;
}
.roxinho:hover { 
  background-color: #7c3aed;
}

.roxinhoOcupado { 
  background-color: #8b5cf6;
  cursor: wait;
}

.modalAnuncioFora {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
  display: grid;
  place-items: center center;
  cursor: auto;
}

.modalAnuncio {
  /*width: 80%;
  height: 80%;*/
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  background-color: gray;
  padding: 1rem;
  gap: 1rem;
  color: white;
  border: 1px solid #7c3aed;
  border-radius: 0.5rem;
  /*display: grid;*/
  /*align-content: start;*/
  /*justify-items: center;*/
  /*align-items: start;*/
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h2 {
  max-width: 20rem;
  margin: 0;
}

.modalAnuncio select {
  border: 1px solid gray;
}

.modalAnuncio #dias {
  border: 1px solid gray;
  width: fit-content;
}

.modalAnuncio #dias input {
  width: 1.25rem;
  text-align: center;
  border-radius: 15%;
  border-width: 1px;
}

.aoLado {
  display: grid;
  grid: auto/auto auto;
  gap: 0.5rem;
}
@media only screen and (max-width: 600px) {
  .aoLado {
    grid: auto/100%;
  }
}

.modalAnuncio .chatDeVoz {
  display: flex;
  align-items: center;
  height: 2rem;
}

.modalAnuncio .chatDeVoz input {
  width: 5%;
  height: 100%;
  accent-color: #8b5cf6;
}

.botaoPublicarAnuncio {
  width: 50%;
  height: 2.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: white;
  align-self: center;
  /*justify-self: center;*/
}

.jogoSelecionado {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.anuncios {
  width: 100%;
  /*max-height: 20rem;*/
  /*height: 17.5rem;*/
  /*padding: 0 1rem 0.5rem;*/
  display: flex;
  gap: 1rem;
  overflow: auto;
}
@media only screen and (max-width: 600px) {
  .anuncios {
    flex-direction: column;
    align-items: center;
    height: 16rem;
  }
}

.cartaoAnuncio {
  width: 12rem;
  height: fit-content;
  padding: 1rem;
  border-radius: 0.5rem;
  display: grid;
  background-color: #71717A;
  flex-shrink: 0;
}

.cartaoAnuncio strong {
  margin-bottom: 0.5rem;
}

.cartaoAnuncio strong.dias{
  cursor: help;
}

.copiar {
  height: 1.5rem;
  width: 1.5rem;
  opacity: 0.5;
}

.copiar:hover {
  cursor: pointer;
  opacity: 1;
}