body {
  background-image: url('./assets/NLW-Fundo.png');
  background-size: cover;
  background-attachment: fixed;
}

.tudo {
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Inter, sans-serif;
  position: relative;
  z-index: 0;
}

h1.titulo {
  font-size: 4rem;
  font-weight: 900;
  color: white;
  text-align: center;
  margin: 3rem;
  /*margin-bottom: 3.25rem;*/
}

.nlw-gradient {
  background: linear-gradient(to right, #9572fc, #43e7ad 35%, #e1d55d);
}

span.nlw-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jogos {
  /*display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto;*/
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.jogos .cartaoJogo {
  position: relative;
  height: 10rem;
  width: 10rem;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}

.jogos .imagemDoJogo {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  object-position: center;
}

.ponteiro {
  cursor: pointer;
}

.carregando {
  height: 1.5rem;
  width: 1.5rem;
}

.game-desc-gradient {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9) 67%);
  width: 100%;
  position: absolute;
  bottom: 0%;
  padding: 0.5rem 0.5rem;
}

strong {
  color: white;
  font-weight: bold;
}

p {
  color: #d4d4d8;
  margin: 0;
  font-size: 87.5%;
}

div.caixa {
  margin: 1rem;
  border-radius: 0.5rem;
}

div.caixa div:only-child {
  border-radius: 0.5rem;
  display: flex;
  position: relative;
  top: 0.25rem;
  padding: 1.5rem 2rem;
  background-color: #2a2634;
  /*align-self: stretch;*/
  font-size: 1.5rem;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.botao-publicar {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  font-size: 1.5rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

img.lupa {
  width: 2rem;
}

.flex {
	display: flex;
	gap: 0.5rem;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/*.centralizado {
  display: grid;
  place-items: center center;
}*/

.roxinho { 
  background-color: #8b5cf6;
}
.roxinho:hover { 
  background-color: #7c3aed;
}

.roxinhoOcupado { 
  background-color: #8b5cf6;
  cursor: wait;
}

.modalAnuncioFora {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  display: grid;
  place-items: center center;
  cursor: auto;
}

.modalAnuncio {
  background-color: gray;
  padding: 1.5rem;
  gap: 1rem;
  color: white;
  border: 1px solid #7c3aed;
  border-radius: 0.5rem;
  display: grid;
  justify-items: center;
}

.modalAnuncio h2 {
  margin: 0;
}

.modalAnuncio select {
  border: 1px solid gray;
}

.modalAnuncio #dias {
  border: 1px solid gray;
}

.modalAnuncio #dias input {
  width: 1.25rem;
  text-align: center;
  border-radius: 15%;
  border-width: 1px;
}

.modalAnuncio .grid {
  display: grid;
  grid: auto/auto auto;
  gap: 0.5rem;
}

.modalAnuncio .chatDeVoz {
  display: flex;
  align-items: center;
  height: 2rem;
}

.modalAnuncio .chatDeVoz input {
  /*width: 1rem;
  height: 1rem;*/
  width: 5%;
  height: 100%;
  accent-color: #8b5cf6;
}

.botaoPublicarAnuncio {
  width: 50%;
  height: 2.5rem;
  /*padding: 0.5rem 0.5rem;*/
  border-radius: 0.25rem;
  align-self: center;
  color: white;
  font-size: 1rem;
}

.anuncios {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center; 
}